/* Цвет основного текста #212121 */
/* Вторичный цвет текста #757575 */
/* Белый #FFFFFF */
/* Акцент #2196F3 */
/* Цвет герой/футер #2F303A */
/* Первичный цвет фона #F5F5F5 */
/* Вторичный цвет фона #F5F4FA */
/* Черный цвет logo #000000*/

:root {
  --primary-text-kolor: #757575;
  --title-text-color: #212121;
  --primary-background-color: #f5f5f5;
  --secondary-background-color: #f5f4fa;
  --hero-background-color: #2f303a;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-kolor);

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
}
/* OK */

/* Utility classes */

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* ХЕДЕР */

/* Логотипы футер/хедер */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
/* OK */

.logo {
  display: block;

  padding-top: 24px;
  padding-bottom: 25px;

  color: var(--black-color);

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
/* OK */

.footer .logo {
  color: var(--white-color);
}

.header .logo__second-part-inscription,
.footer .logo__second-part-inscription {
  color: var(--accent-color);
}
/* OK */

/* Navigation list */

.header {
  background-color: var(--white-color);
}
/* OK */

.header__container {
  display: flex;
  align-items: center;
}
/* OK */

.navigation__list {
  display: flex;
  margin-left: 93px;

  color: var(--title-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}
/* OK */

.navigation__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: inherit;
}
/* OK */

.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
}
/* OK */

.navigation__link--active {
  position: relative;

  color: var(--accent-color);
}
/* OK */

.navigation__link--active::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;

  background-color: var(--accent-color);
}
/* OK */

/* Contacts */

.contacts {
  display: flex;
  margin-left: auto;
}
/* OK */

.contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: inherit;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* OK */

.contacts__link:hover,
.contacts__link:focus,
.contacts__icon:hover,
.contacts__icon:focus,
.contacts__icon:hover,
.contacts__icon:focus {
  color: var(--accent-color);
}
/* OK */

.contacts__link {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
/* OK */

.contacts__icon,
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
/* OK */

/* МЕЙН-КОНТЕНТ */

/* Section hero */

.hero {
  background-color: #c4c4c4;

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
}
/* OK */

.hero__title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
/* OK */

.button {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  border: 1px solid transparent;

  color: var(--white-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;

  cursor: pointer;
}
/* OK */

/* Main section */

.work-target__title,
.team__title {
  color: var(--title-text-color);

  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
}

/* Секция-"преймущества" */

.advantages {
  padding-top: 94px;
}
/* OK */

.advantages__list {
  display: flex;
  justify-content: center;
}
/* OK */

.advantages__item::before {
  display: block;
  content: '';

  height: 120px;
  margin-bottom: 30px;
  
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
}
/* OK */

.advantages__item--add-img-antenna::before {
  background-image: url(../images/antenna.svg);
}
/* OK */

.advantages__item--add-img-clock::before {
  background-image: url(../images/clock.svg);
}
/* OK */

.advantages__item--add-img-diagram::before {
  background-image: url(../images/diagram.svg);
}
/* OK */

.advantages__item--add-img-astronaut::before {
  background-image: url(../images/astronaut.svg);
}
/* OK */

.advantages__title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
/* OK */

.advantages__item {
  max-width: calc((100%-90px) / 4);
}
/* OK */

.advantages__item:not(:last-child) {
  margin-right: 30px;
}
/* OK */

.advantages__description {
  margin-top: 0;
  margin-bottom: 0;
}
/* OK */

/* Section -"What we do" */

.work-target__list {
  display: flex;
}
/* OK */

.work-target__item:not(:last-child) {
  margin-right: 30px;
}
/* OK */

.work-target__item {
  position: relative;
  
  margin-top: 0;
  margin-bottom: 0;
  height: 294px;
}
/* OK */

.work-target__description-container {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}
/* OK */

.work-target__description {
  text-align: center;
  margin-top: 27px;
  margin-bottom: 27px;

  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}
/* OK */

/* Section -"Our team" */

.team {
  background-color: var(--secondary-background-color);
}
/* OK */

.team-list {
  display: flex;
}
/* OK */

.employee-card {
  width: calc((100%-90px) / 4);

  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
/* OK */

.employee-card:not(:last-child) {
  margin-right: 30px;
}
/* OK */

.team__title {
  margin-top: 0;
  margin-bottom: 50px;
}
/* OK */

.employee-card__img {
  margin-bottom: 30px;
}
/* OK */

.employee-card__name {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
/* OK */

.employee-card__profession {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.18;
}
/* OK */

.soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
/* OK */

.soc-list__item {
  width: 44px;
  height: 44px;
}
/* OK */

.soc-list__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  color: #afb1b8;
}
/* OK */

.soc-list__link:hover {
  background-color: #2196f3;
  color: #ffffff;
}
/* OK */

.soc-list__icon {
  fill: currentColor;
}
/* OK */

.soc-list__item:not(:last-child) {
  margin-right: 10px;
}
/* OK */

.employee-card {
  text-align: center;
}

/* Секция-"Постоянные клиенты" */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* OK */

.client-list {
  display: flex;
}
/* OK */

.clients__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
/* OK */

.client-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* OK */

.client-card {
  width: 170px;
  height: 92px;
}
/* OK */

.client-card__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
}
/* OK */

.client-card__link:hover,
.client-card__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
/* OK */

.client-card__svg {
  fill: currentColor;
}
/* OK */

.client-card:not(:last-child) {
  margin-right: 30px;
}
/* OK */

/* ФУТЕР */

.footer {
  padding-top: 60px;
  padding-left: 64px;
  padding-bottom: 60px;

  background-color: var(--hero-background-color);
}
/* OK */

.address {
  display: flex;
}

.address__logo {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
/* OK */

.address-inf__phisical {
  display: inline-block;
  margin-bottom: 9px;

  color: var(--white-color);
}
/* OK */

.address-inf__mail {
  display: inline-block;
  margin-bottom: 9px;
}
/* OK */

.address-inf__mail,
.address-inf__tel {
  color: rgba(255, 255, 255, 0.6);
}
/* OK */

.address-inf__phisical,
.address-inf__mail,
.address-inf__tel {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* OK */

.address-inf__phisical:hover,
.address-inf__mail:hover,
.address-inf__tel:hover,
.address-inf__phisical:focus,
.address-inf__mail:focus,
.address-inf__tel:focus {
  color: var(--accent-color);
}
/* OK */

.soc-links-list {
  display: flex;
}
/* OK */

.adress__container {
  margin-right: 70px;
}

.soc-links-list__item:not(:last-child) {
  margin-right: 10px;
}

.soc-links-container__title {
  margin-top: 8px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.soc-links-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* OK */

.soc-links-list__item {
  width: 44px;
  height: 44px;
}
/* OK */

.soc-links-list__link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}
/* OK */

.soc-links-list__link:hover {
  background-color: #2196f3;
}
/* OK */

.soc-links-list__icon {
  fill: currentColor;
}
/* OK */

.footer__position {
  display: flex;
}
/* OK */

.sign {
  margin-left: 93px;
}
/* OK */

.sign__title {
  margin-top: 8px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
/* OK */

.sign__form {
  position: relative;
  display: flex;
}
/* OK */

.sign__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  box-sizing: inherit;
  min-width: 356px;
  min-height: 48px;
  padding: 16px 15px;
}
/* OK */

.sign__button {
  margin-left: 12px;
  min-width: 200px;
  min-height: 50px;
  background-color: var(--accent-color);
  border: 4px solid transparent;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  padding-left: 28px;

  letter-spacing: 0.06em;

  color: #ffffff;

  display: flex;
  align-items: center;
}
/* OK */

.sign__icon {
  margin-left: 10px;
}
/* OK */

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;
  padding: 40px 40px;

  border-radius: 4px;

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: scale(1) translate(-50%, -50%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  padding: 0;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: var(--white-color);
  fill: #000000;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button__close:hover {
  fill: var(--accent-color)
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 12px;

  color: #212121;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
/* OK */

.form__input {
  padding: 15px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* OK */

.form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: #757575;
}
/* OK */

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(0, -50%);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* OK */

.form__textarea {
  outline: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  min-width: 448px;
  min-height: 120px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}
/* OK */

.form__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
/* OK */

.form__textarea:focus {
  outline: none;
  border: 1px solid #2196f3;
  border-radius: 4px;
}
/* OK */

.form__textarea {
  margin-bottom: 10px;
}
/* OK */

.form__checkbox-field {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
/* OK */

.form__checkbox {
  margin-right: 8px;
}
/* OK */

.form__button {
  display: block;
  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;

  background: #2196f3;
  border-radius: 4px;
  border: none;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;

  color: #ffffff;
}
/* OK */



.form__checkbox-label {
  display: inline-flex;
  align-items: center;
}
/* OK */

.form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* OK */

.form__checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;

  border: 2px solid #212121;
  border-radius: 2px;
  transition: border 2000ms linear;
}
/* OK */

.form__checkbox:checked + .form__checkbox-icon {
  border: var(--accent-color);
  background-image: url('../images/icon-check.svg');
  background-size: contain;
  background-origin: border-box;
}
/* OK */

.form__link {
  margin-left: 5px;
  color: var(--accent-color);
}
/* OK */

.form__field input:focus {
  outline: none;
  border: 1px solid #2196f3;
  border-radius: 4px;
}
/* OK */

.form__field input:focus + .form__icon,
.form__field input:hover + .form__icon {
  color: var(--accent-color);
}
/* OK */

.form__svg {
  fill: currentColor;
}
/* OK */

/* Сторінка portfolio.html */

.heder-portfolio {
  border-bottom: 1px solid #ececec;
}

.filter-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}
/* OK */

.filter-nav__item:not(:last-child) {
  margin-right: 8px;
}
/* OK */

.filter-nav__button {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 73px;

  color: var(--title-text-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}
/* OK */

.filter-nav__button:hover,
.filter-nav__button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
/* OK */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: calc((100% - 60px) / 3);
  background: var(--white-color);
}

.portfolio-card__inf-container {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-card:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-card__img {
  display: block;
}

.portfolio-card__title {
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 4px;
  margin-left: 24px;

  color: var(--title-text-color);

  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card__project-description {
  font-size: 16px;
  line-height: 1.87;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 24px;
}

.portfolio-card__img-container {
  position: relative;
  overflow: hidden;
}

.portfolio-card__description-box {
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;

  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-card__description {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  color: var(--white-color);
}

.portfolio-card:hover .portfolio-card__description-box,
.portfolio-card:focus .portfolio-card__description-box {
  transform: translateY(-100%);
}
